<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.lifecycleParticipants">
      <participant
            hint="TilesMavenLifecycleParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="io.repaint.maven.tiles.m2e.TilesProjectConfigurator"
            id="io.repaint.maven.tiles.m2e.configurator"
            name="TILES">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

</plugin>
